# Distribution / packaging
.Python
environment.yml
*.env
env/
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/

# Sphinx documentation
docs/_build/

#Ipython Notebook
*.ipynb
.ipynb_checkpoints
